/* style for p tag */
p{
    color: red;
}

/* style for title class */
.title{
    color: brown;
}

/* style for id */
#container{
    font-size: small;
    border: 8px solid rgb(0, 187, 255);
}